PUID=99
PGID=100
TZ=America/New_York

PORT=8080

# DATABASE (POSTGRES)
DB_PASSWORD=password
DB_USERNAME=admin
DB_DATABASE_NAME=formality
DB_HOST=database
DB_PORT=5432

SECRET_KEY=1tNKPK2n/TUsI2OolwPdPBM5F6w5gqxJ2hsD7kkjcvo=
ADMIN_PASS=password

INITIAL_ORIGIN=http://localhost:8080

RECAPTCHA_PROJECT_ID=
RECATPCHA_SITE_KEY=
RECAPTCHA_API_KEY=
